# Node.js
node_modules/

# Ignore Helm chart default values files
*-values.yaml

# Env
.env
.env.*
!.env.example

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
